<div id="<%= dom_id user %>">
  <p>
    <strong><%= t 'users.name' %>: </strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong><%= t 'users.email' %>: </strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= t 'users.role' %>: </strong>
    <%= user.role %>
  </p>

</div>

