<div class="col-lg-12">
<p style="color: green"><%= notice %></p>

<h1><%= t '.title' %></h1>

<table class="table table-bordered">

  <tr>
    <th scope="col"><%= t 'users.name' %></th>
    <th scope="col"><%= t 'users.email' %></th>
    <th scope="col"><%= t 'users.role' %></th>
    <th scope="col"><%= t 'users.actions' %></th>
  </tr>

  <tbody>
    <% @users.each do |user| %>
    <tr id="user_row_<%= user.id %>">
      <td scope="row"><%= user.first_name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= link_to "#{t('.but_show')}", user, class: "btn btn-outline-primary" %>
          <%= link_to "#{t('but_edit')}", edit_user_path(user), class: "btn btn-secondary" %>
          <%= link_to "#{t('but_delete')}", user, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-outline-secondary" %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>


<%= link_to "#{t('.but_new_user')}", new_user_path, data: { controller: 'user-modal' }, class: "btn btn-outline-primary" %>
</div>

